{
	"domain": "domain.com",
	"panorama": "panorama.domain.com",
	"ansible_tower": "tower.domain.com",
	"ansible_templates": {
		"upgrade_dynamic_content": "100",
		"get_device_state": "101",
		"configure_local_admins": "102"
	},
	"externallyManagedFirewalls": [
		"fw01",
		"fw02"
	]
}
