/* Run Commands */
.modal-run-cmds__bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-run-cmds__contents {
    position: relative;
    height: 400px;
    width: 600px;
    background-color: white;
    text-align: left;
    border-radius: 4px;
}

.modal-run-cmds__header {
    margin-bottom: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #ddd;
    text-align: right;
    font-size: 35px;
    color: #333;
    border-bottom: 1px solid black;
}

.modal-run-cmds__close {
    cursor: pointer;
    color: white;
}

.modal-run-cmds__close:hover {
    color: #999;
}

.modal-run-cmds__label {
    margin-left: 30px;
    font-size: 1rem;
}

.modal-run-cmds__input {
    margin: 20px auto;
    display: block;
    width: 90%;
    height: 200px;
    padding: 8px;
    border: 1px solid gray;
    resize: none;
    font-size: 1rem;
}

.modal-run-cmds__button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15px 15px 0;
}