/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #d3d3d3;
}

.dark-mode .modal div:not([class*="ansible-"]),
.dark-mode .modal input,
.dark-mode .modal-credentials__bg pre {
    background-color: #2a2a2a !important;
    color: #d3d3d3 !important;
}

.dark-mode .modal-get-device-state-snapshot__bg div,
.dark-mode .modal-get-device-state-snapshot__bg p,
.dark-mode .modal-get-device-state-snapshot__bg label,
.dark-mode .modal-get-device-state-snapshot__bg input {
    background-color: #2a2a2a;
    color: #d3d3d3;
}

.dark-mode .modal-config-local-admins__bg div,
.dark-mode .modal-config-local-admins__bg label,
.dark-mode .modal-config-local-admins__bg input {
    background-color: #2a2a2a;
    color: #d3d3d3;
}

.dark-mode .modal-run-cmds__bg div,
.dark-mode .modal-run-cmds__bg label,
.dark-mode .modal-run-cmds__bg textarea {
    background-color: #2a2a2a;
    color: #d3d3d3;
}

.dark-mode .modal-credentials__bg div,
.dark-mode .modal-credentials__bg input {
    background-color: #2a2a2a;
    color: #d3d3d3;
}

.dark-mode .navbar {
    background-color: #333;
}

.dark-mode .button {
    background-color: #555;
    color: #d3d3d3;
}

.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #333 !important;
    color: #fff !important;
}

.dark-mode input,
.dark-mode .dataTables_length select {
    background-color: #444 !important;
    color: #fff !important;
}

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover, 
.dark-mode input:-webkit-autofill:active, 
.dark-mode input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px #444  inset;
}

/* Highlight odd and even rows */
.dark-mode .dataTables_wrapper table.dataTable tbody tr:nth-child(odd) {
    background-color: #1e1e1e !important;
}

.dark-mode .dataTables_wrapper table.dataTable tbody tr:nth-child(even) {
    background-color: #2a2a2a !important;
}

/* Highlight selected rows */
.dark-mode .dataTables_wrapper table.dataTable tbody tr.selected {
    background-color: #444 !important;
    color: #d3d3d3 !important;
}

/* Highlight sorted columns */
.dark-mode .dataTables_wrapper table.dataTable tbody td.sorting_1,
.dark-mode .dataTables_wrapper table.dataTable tbody td.sorting_2,
.dark-mode .dataTables_wrapper table.dataTable tbody td.sorting_3 {
    background-color: #303030 !important;
}

/* Hightligh sorted column cells */
.dark-mode .dataTables_wrapper table.dataTable tbody tr.selected td.sorting_1,
.dark-mode .dataTables_wrapper table.dataTable tbody tr.selected td.sorting_2,
.dark-mode .dataTables_wrapper table.dataTable tbody tr.selected td.sorting_3 {
    background-color: #444 !important;
    color: #d3d3d3 !important;
}
